body {
	background-color: #336699;
}

#Main {
	position: relative;
	width: 800px;
	height: 600px;
	background-color: #666666;
	border: 2px solid black;
	margin: 0 auto;
}

#Player {
	position: absolute;
	width: 46px;
	height: 46px;
	background-color: #F5F5F5;
	border-radius: 50%;
	left: 360px;
	top: 280px;
}

#Comment {
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: white;
	border-radius: 3px;
	border: 3px solid black;
}

.Bullet {
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: red;
	
}

#Title {
	position: relative;
	margin: 0;
}

.Enemy {
	position: absolute;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-color: #7CFC00;
	left: random(500px, 600px);
	top: random(500px, 600px);
}